.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	transition: background 0.3s;
	display: inline-block;
	text-align: center;
	width: 100%;
	position: relative;
	margin-bottom: 1.5em;
}

.gallery-columns-2 {
	@include grid-row();
	.gallery-item {
		@include grid-column(
		$columns: 6,
		$collapse: true
		);
	}
}

.gallery-columns-3 {
	@include grid-row();
	.gallery-item {
		@include grid-column(
			$columns: 4,
			$collapse: true
		);
	}
}

.gallery-columns-4 {
	@include grid-row();
	.gallery-item {
		@include grid-column(
		$columns: 3,
		$collapse: true
		);
	}
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	@include single-transition(all 0.3s);
	font-size: rem-calc(12);
	opacity: 0;
	position: absolute;
	bottom: 0;
	color: white;
	max-height: 50%;
	padding: 6px 8px;
	width: 100%;
	}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-item:hover {
	background: rgba(0, 0, 0, 0.70);
}

.wp-caption-text {
	text-align: center;
}

.gallery figcaption {
	margin: 0;
}
