h1, h2, h3, h4, h5, h6 {
	clear: both;
}

.title-area h1 {
	font-family: $top-nav-title-font;
	text-transform: uppercase;
	letter-spacing: rem-calc(1.2);
}

.archive .entry-title {
	font-size: rem-calc(28);
}

.archive .page-title {
	font-size: rem-calc(36);
}
