.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
		font-family: $header-font;
	}
}

.widget-title {
	font-size: rem-calc(27);
	font-weight: 700;
	border-bottom: 2px solid #222;
	margin-bottom: 0.5em;
}

#secondary {
	font-family: $aside-font;
	padding-top: 1em;
}

.has-featured-image #secondary {
	// Move sidebar down to accomodate featured image if sidebar is enabled
	padding-top: 6em;
}

#secondary aside {
	@media #{$medium-up} {
		margin-left: 0.5em;
	}
}

.widget {
	li {
		font-family: $header-font;
		font-size: rem-calc(16);
		list-style: none;
	}
	a {
		font-weight: 700;
	}
}

/* Widget-specific styles */
.widget_rss li {
	margin-bottom: 0.5em;
}

.widget_rss .rss-date,
.widget_rss cite {
	display: block;
}

.widget_search .search-submit {
	display: none;
}

/* Footer-specific widget styles */
#colophon {
	.widget-title {
		border-bottom: 2px solid $color__text-footer;
	}
	abbr[title] {
		color: $color__text-footer;
	}
}
