.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

#secondary {
	margin-top: 0.5em;
}

#secondary aside {
	@media #{$medium-up} {
		margin-left: 0.5em;
	}
	li {
		font-family: $header-font;
		list-style: square;
	}
}
