.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
		font-family: $header-font;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

#secondary {
	font-family: $aside-font;
	padding-top: 0.5em;
}

#secondary aside {
	@media #{$medium-up} {
		margin-left: 0.5em;
	}
}

#secondary aside,
.footer-widgets {
	li {
		font-family: $header-font;
		font-size: rem-calc(16);
		list-style: none;
	}
	a {
		font-weight: 600;
	}
}
