ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.entry-footer {
	ul {
		list-style: none;
		margin-left: 0;
		font-size: rem-calc(16);
	}
	li {
		display: inline;
		margin-right: 1em;
	}
}
