$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$top-nav-title-font: "Oswald", Arial, sans-serif;
$top-nav-link-font: "Lato", Arial, sans-serif;
$body-font: "PT Serif", serif;
$header-font: "Lato", Arial, sans-serif;
$footer-font: "Lato", Arial, sans-serif;
$form-font: "Lato", Arial, sans-serif;
