a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link;
		text-decoration: underline;
	}
}
footer#colophon {
	a {
		@include single-transition(border-color, 0.3s);
		text-decoration: none;
		&:visited,
		&:hover,
		&:focus {
			color: #fff;
			&:hover {
				border-bottom: 2px solid #fff;
			}
			text-decoration: none;
		}
	}
}

.entry-content  a {
	text-decoration: underline;
}

.top-bar-menu a:hover,
.title-area a:hover {
	text-decoration: none;
}