.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
	> .comment-body {
		padding: 1em;
		margin-bottom: 2em;
		background: $gainsboro;
		border: none;
	}
}

.reply {
	font-family: $header-font;
	font-weight: bold;
	font-size: rem-calc(14);
}

#comments {
	margin-top: 2.5em;
}

.comments-area > ol {
	padding: 0;
	margin: 2em 0;
	list-style-type: none;
}

ol.children {
	list-style-type: none;
}

.comment-list,
.children {
	line-height: inherit;
}

.comment-list {
	article {
		margin-top: 2em;
		padding-bottom: 1em;
		border-bottom: 1px solid $gainsboro;
	}
	article p {
		font-size: rem-calc(16);
	}
}

#comment-nav-above {
	border-bottom: none;
}

#comment-nav-below {
	padding-bottom: 2em;
}

.comment-meta {
	font-family: $header-font;
	font-size: rem-calc(14);
	margin-bottom: 1.5em;
}

.comment-author,
.comment-author .fn {
	font-weight: 700;
	font-size: rem-calc(18);
	.avatar {
		float: left;
		margin-right: 1em;
	}
}

.comment-form p {
	font-size: rem-calc(16);
}

p.comment-awaiting-moderation {
	background: $success-color;
	font-family: $header-font;
	color: $white;
	margin: 0.5em;
	margin-left: 0;
	padding: 0.5em;
}
