/* Footer styles */
footer#colophon {
	background-color: $color__background-footer;
	color: $color__text-footer;
	padding: 2em;
	p {
		font-family: $footer-font;
		margin: 1em 0;
		font-size: rem-calc(14);
	}
	.widget-title {
		color: $color__text-footer;
	}
}
