/* Styles specific to the front page template */

.home {
	@include background-image(linear-gradient(rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.3)),
		url(images/glacier.jpg));
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	@include background-size(cover);
	position: relative;
}

.home #content {
	background: transparent;
	margin-top: 10em;
	@media #{$medium-up} {
		margin-top: 20em;
	}
}

.tagline {
	text-align: center;
	h1 {
		color: $white;
		text-transform: lowercase;
		font-size: rem-calc(40);
		font-weight: 700;
		letter-spacing: -0.05em;
		line-height: 1.2;
		@media #{$small} {
			font-size: rem-calc(45);
		}
		@media #{$medium} {
			font-size: rem-calc(50);
			line-height: 1.4;
		}
		@media #{$large-up} {
			font-size: rem-calc(65);
		}
	}
	h2 {
		color: $white;
		font-size: rem-calc(16);
		font-weight: normal;
		max-width: 60%;
		margin: 0 auto;
		padding-top: 0.5em;
		@media #{$small} {
			font-size: rem-calc(18);
		}
		@media #{$medium} {
			font-size: rem-calc(20);
			padding: 0.5em 3.125em 0;
		}
		@media #{$large-up} {
			font-size: rem-calc(25);
		}
	}
}
