/* Styles specific to the front page template */

.home {
	background: #000 url(images/glacier.jpg) no-repeat center center fixed;
	@include background-size(cover);
}

.home #content {
	background: transparent;
}

.tagline h1,
.tagline h2 {
	color: $white;
}

.tagline h1 {
	text-transform: uppercase;
	font-size: rem-calc(60);
	font-weight: normal;
	letter-spacing: 0.01em;
}
