.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid $gainsboro;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

article {
	// Fix issue with non-clearing floats within articles with floated content like images
	@include clearfix();
}

.home article {
	// No bottom border on static home page
	border-bottom: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#content {
	margin-top: 2em;
	margin-bottom: 2em;
	background: $white;
}

#page {
	overflow: hidden;
}

.category-list,
.entry-meta,
.entry-footer {
	font-size: rem-calc(16);
	font-family: $header-font;
	font-weight: bold;
}

.entry-meta {
	margin-top: 0.5em;
}

.entry-header {
	position: relative;
}

.entry-footer {
	margin-top: 2em;
	line-height: 2.5;
}

.category-list ul,
.tag-list ul {
	font-weight: normal;
	font-family: $header-font;
}

.vcard {
	display: inline;
	border: none;
	padding: 0;
	margin: 0;
	.fn {
		font-weight: inherit;
		font-size: rem-calc(16);
	}
}

.comments-link:before {
	content: ". ";
	margin-left: rem-calc(-3);
}

.sticky-post {
	position: absolute;
	top: 1em;
	right: 3em;
}

// Featured image header in single post view
.featured-image {
	position: fixed;
	min-height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -100;
	background: $white;
}

// Gradient overlay on top of featured image header in single post view
.gradient-overlay {
	position: relative;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
	img {
		position: relative;
		z-index: -10;
		width: 100%;
	}
}

.featured-image + .row {
	position: relative;
	z-index: 10;
	bottom: 100px;
	width: 100%;
	height: 100%;
	margin-top: 65%;
	@media only screen and (min-width: 25em) {
		margin-top: 35%;
	}
	#secondary {
		// Move sidebar down to accomodate featured image if sidebar is enabled
		padding-top: 9em;
	}
}

.single .has-post-thumbnail .entry-header,
.page .has-post-thumbnail .entry-header {
	position: absolute;
	top: -100px;
	color: $white;
	@media only screen and (min-width: 25em) {
		top: -40px;
	}
	@media only screen and (min-width: 31.25em) {
		top: -80px;
	}
	@media #{$medium} {
		max-width: 75%;
		top: -100px;
	}
	@media #{$large} {
		max-width: 70%;
		top: -180px;
	}
	@media #{$xlarge-up} {
		max-width: 65%;
		top: -250px;
	}
	.entry-meta a,
	.category-list a{
		color: $white;
	}
}

.single .has-post-thumbnail .entry-title,
.page .has-post-thumbnail .entry-title {
	font-size: rem-calc(22);
	color: #fff;
	@media #{$medium} {
		font-size: rem-calc(40);
	}
	@media #{$large-up} {
		font-size: rem-calc(46)
	}
}

.single .has-post-thumbnail .entry-content,
.page .has-post-thumbnail .entry-content {
	margin-top: 8em;
	@media #{$large-up} {
		margin-top: 10em;
	}
}

.index-post-listing {
	@include grid-row();
	margin-top: 2em;
}

.index-thumbnail-image {
	padding-top: 0.8em;
}
