.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#content {
	margin-top: 1em;
}

.entry-meta {
	font-size: rem-calc(18);
	font-family: $header-font;
	font-weight: bold;
}